/* layout */
html, body {
  height: 100%;
  overflow: auto;
  font-family:'Courier New', Courier, monospace;
}
.top {
  background-color: black;
  color: white;
  height: 20vh;
  text-align: center;
  padding-top: 5vh;
  min-height: 150px;
}
.main {
  height: 80vh;
  padding: 0 3vw;
  background-color: rgb(44, 68, 67);
  color: rgb(255, 255, 255);
}
.content {
  background-color: teal;
  height: 100%;
  padding-right:2%;
  padding-left:2%;
  padding-bottom: 5%;
  min-height: 500px;
  overflow: auto;
}
.userInfo {
  color: rgb(255, 194, 227);
  font-weight: bold;
  margin: auto;
  width: 30%;
  min-width: 300px;
  background-color: rgb(84, 84, 84);
  box-shadow: 0px 4px black;
  border-radius: 5px;
  border-top: 1px solid white;
  padding: 10px;
  text-align: right;
}
.userInfo input {
  width: 100%;
}
.form {
  display: block;
}
.userInfo label {
  padding-top:10px;
}
button {
  margin-top: 20px;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: black;
  height: 5vh;
  color: white;
  text-align: center;
  padding-top:1vh;
}

/* text styles */
.top h1{
  font-size: 40px;
  text-shadow: 2px 4px teal;
}
.userInfo p {
  text-align: left;
}
.main p {
  font-size: 18px;
}
.question {
  font-weight: bold;
  color: rgb(255, 194, 227);
  margin-bottom: 5px;
}

#results p {
  color:thistle;
  text-shadow: 2px 2px black;
}

.redo {
  color: black;
  margin-top: 5vh;
}

.lang {
  font-weight: bold;
  color:rgb(145, 237, 237);
  text-shadow: 3px 3px black;
}

h1 {
  font-weight: bold;
}

.userEmail {
  color: white;
}

.userName {
  color: thistle;
  font-weight: bold;
}

/* media */
.btn-dark {
  margin-top: 0px;
}
img {
  float: left;
  width: 40%;
  border: 1px solid black;
  border-radius: 3vw;
  margin-right: 1vw;
}

/* jQuery Survey*/
#survey, .firstQuestion, .secondQuestion, .thirdQuestion, .fourthQuestion, .fifthQuestion, #results, #js, #ruby, #cs, #any {
  display: none;
}

#survey, #results {
  width: 50%;
  margin: auto;
  background-color: rgb(112, 112, 112);
  margin-top: 5vh;
  margin-bottom: 5vh;
  box-shadow: 2px 5px rgb(0, 0, 0);
  border-radius: 5px;
  border-top: 2px solid white;
  border-left: 1px solid white;
  padding: 4%;
}