/* layout */
html, body {
  height: 100%;
}
.top {
  background-color: black;
  color: white;
  height: 20vh;
  text-align: center;
  padding-top: 5vh;
  min-height: 150px;
}
.top h1{
  /* font-size: 10vh; */
  font-size: 40px;
  text-shadow: 2px 4px teal;
}
.main {
  height: 80vh;
  padding: 0 3vw;
  background-color: rgb(44, 68, 67);
  color: rgb(255, 255, 255);
}
.content {
  background-color: teal;
  height: 100%;
  padding: 1% 2%;
  min-height: 500px;
}
.userInfo {
  color: rgb(255, 194, 227);
  font-weight: bold;
  margin: auto;
  width: 30%;
  min-width: 300px;
  background-color: rgb(84, 84, 84);
  box-shadow: 1px 3px black;
  padding: 10px;
  text-align: right;
}
.userInfo p {
  text-align: left;
}
input {
  width: 100%;
}
.form {
  display: block;
}
label {
  padding-top:10px;
}
button {
  margin-top: 20px;
  text-align: right;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: black;
  height: 5vh;
  color: white;
  text-align: center;
  padding-top:1vh;
}

/* text styles */

/* media */